.grid-container
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
}
#Header
{
    grid-column: 1 / span 12;
    background-color:#FFAA7B;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 120%;
    color: #FFFFFF;
    padding-left: 5%;
}
#Box1
{
    grid-column: 1 / span 7;
    background-color:#ffc9a9;
}
#Box2
{
    grid-column: 8 / span 5;
}
#Footer
{
    grid-column: 1 / span 12;
    background-color:#FFAA7B;
}
#Picture1
{
    padding-left: 15%;
    padding-top: 5%;
}
#Picture2
{
    padding-left: 15%;
    padding-top: 5%;
}
#Skills
{
    background-color:#FFAA7B;
    margin-left: 5%;
    margin-right: 5%;
    height: 20%;
}
#Interesting
{
    background-color:#FFAA7B;
    margin-left: 5%;
    margin-right: 5%;
    height: 20%;
}
#Hobby
{
    background-color:#FFAA7B;
    margin-left: 5%;
    margin-right: 5%;
    height: 20%;
}
#Description
{
    background-color:#FFAA7B;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 110%;
    color: #FFFFFF;
    text-align: center;
}
h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
    padding-left: 10%;
    padding-bottom: 2%;
    padding-right: 2%;
}
h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
    text-align: center;
}
h4
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
    padding-left: 5%;
    padding-top: 5%;
}
.button-6 
{
  align-items: center;
  background-color: #FFFFFF;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 48px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
#Button6
{
    margin-left: 30%;
    margin-bottom: 5%;
}
#BackButton
{
    margin-left: 22%;
    margin-top: 30%;
    text-align: center;
    margin-bottom: 10%;
}
@media only screen and ( max-width: 2560px )
{
    #Picture1
    {
        text-align: center;
        padding-left: 15%;
        padding-top: 5%;
        width: 75%;
    }
    #Picture2
    {
        text-align: center;
        padding-left: 15%;
        padding-top: 5%;
        width: 75%;
    }
    #BackButton
    {
        margin-left: 22%;
        text-align: center;
    }
    #h4
    {
        font-size: 48px;
        line-height: 100%;
    }
    #BackButton
    {
        font-size: 48px;
        margin-left: 40%;
        margin-bottom: 5%;
    }
}
@media only screen and ( max-width: 1440px )
{
    #Header
    {
        font-size: 96px;
    }
    #Picture1
    {
        text-align: center;
        padding-left: 14%;
        padding-top: 5%;
        width: 75%;
    }
    #Picture2
    {
        text-align: center;
        padding-left: 14%;
        padding-top: 5%;
        width: 75%;
    }
    #h3
    {
        font-size: 28px;
    }
    #h4
    {
        font-size: 28px;
    }
    #BackButton
    {
        font-size: 32px;
        margin-left: 40%;
        margin-bottom: 5%;
    }
}
@media only screen and ( max-width: 768px )
{
    .grid-container
    {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-row-gap: 10px;
    }

    #Header
    {
        grid-column: 1 / span 8;
        background-color:#FFAA7B;
        font-size: 72px;
    }
    #Box1
    {
        grid-column: 1 / span 8;
    }
    #Box2
    {
        grid-column: 1 / span 8;
    }
    #Picture1
    {
        text-align: center;
        padding-left: 15%;
        padding-top: 5%;
        width: 75%;
    }
    h1
    {
        font-size: 48px;
    }
    h2
    {
        font-size: 32px;
    }
    h3
    {
        font-size: 32px;
    }
    h4
    {
        font-size: 32px;
    }
    #Button6
    {
        font-size: 32px;
        margin-left: 30%;
        margin-bottom: 5%;
    }
    #BackButton
    {
        font-size: 32px;
        margin-left: 40%;
        margin-bottom: 5%;
    }
}
@media only screen and ( max-width: 768px )
{
    h1
    {
        font-size: 32px;
    }
    h2
    {
        font-size: 28px;
    }
    h3
    {
        font-size: 28px;
    }
    h4
    {
        font-size: 28px;
    }
    #Button6
    {
        font-size: 20px;
        margin-left: 30%;
        margin-bottom: 5%;
    }
}